@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #EFF7F6;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #023047;
  --primaryMedium: #219EBC;
  --primaryLight: #8ECAE6;
  --orange: #FB8500;
  --orangeYellow: #FFB703;
}

body {
  color: rgb(var(--foreground-rgb));
}
.body {
  background-color: var(--foreground-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}